body{
    background-color: hotpink;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: yellow;
}

img {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    padding: 10px;
}

.ad-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aqua ;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ad-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin: 10px 0;
}

.container-reg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 20px;
    align-content: center;

}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 20px;

}

.price{
    color: black;
}

.status{
    color: blue;
}